@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-text: #090e0a;
  --color-background: #fbfdfb;
  --color-primary: #3dcb64;
  --color-secondary: #8eefa9;
  --color-accent: #44f875;

  --color-dark-text: #e1e0f4;
  --color-dark-background: #070712;
  --color-dark-primary: #9e9edd;
  --color-dark-secondary: #612b77;
  --color-dark-accent: #b950c0;
}


